#tex{
    width: 70vh;
    height: 20vh;
    position: relative;
}

.input{
    width:40vh ;
    height: 4vh;
}



h1{
    text-align: center;
    color: red;
}

#description{
    text-align: center;
    padding: 0px 0% 25px 0%;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block{
    text-align: center;
    font-size: large;
    font-weight: 300;
}

form{
    background-color: lightpink;
}

span{
    text-decoration: dashed;
    color: #0000ff;
}

.block {
    
    font-size: 20px;
    display: block;
    text-align: center;
    margin: auto;
    padding: 15px 5px 15px 5px;
}

fieldset{
    background-color: aqua;
    text-align: center;
    margin: 15px 30% 0px 30%;
   
}